@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /*
     * use rgb colors to make tailwind color opacity modifier work
     * https://v3.tailwindcss.com/docs/customizing-colors#using-css-variables
     */
    --color-primary-50: 255 246 237; /* #FFF6ED */
    --color-primary-100: 255 235 212; /* #FFEBD4 */
    --color-primary-200: 255 211 168; /* #FFD3A8 */
    --color-primary-300: 255 180 112; /* #FFB470 */
    --color-primary-400: 255 137 55; /* #FF8937 */
    --color-primary-500: 255 106 19; /* #FF6A13 */
    --color-primary-600: 240 76 6; /* #F04C06 */
    --color-primary-700: 199 55 7; /* #C73707 */
    --color-primary-800: 158 44 14; /* #9E2C0E */
    --color-primary-900: 127 39 15; /* #7F270F */
    --color-primary-950: 69 16 5; /* #451005 */

    --color-secondary-50: 230 234 237; /* #E6EAED */
    --color-secondary-100: 194 204 211; /* #C2CCD3 */
    --color-secondary-200: 145 164 177; /* #91A4B1 */
    --color-secondary-300: 94 121 140; /* #5E798C */
    --color-secondary-400: 46 81 106; /* #2E516A */
    --color-secondary-500: 0 43 73; /* #002B49 */
    --color-secondary-600: 0 37 62; /* #00253E */
    --color-secondary-700: 0 31 52; /* #001F34 */
    --color-secondary-800: 0 25 42; /* #00192A */
    --color-secondary-900: 0 17 29; /* #00111D */
    --color-secondary-950: 0 0 0; /* #000000 */

    --color-white: 255 255 255; /* #FFFFFF */
    --color-black: 0 0 0; /* #000000 */

    --color-slate-50: 248 250 252; /* #F8FAFC */
    --color-slate-100: 241 245 249; /* #F1F5F9 */
    --color-slate-200: 226 232 240; /* #E2E8F0 */
    --color-slate-300: 203 213 225; /* #CBD5E1 */
    --color-slate-400: 148 163 184; /* #94A3B8 */
    --color-slate-500: 100 116 139; /* #64748B */
    --color-slate-600: 71 85 105; /* #475569 */
    --color-slate-700: 51 65 85; /* #334155 */
    --color-slate-800: 30 41 59; /* #1E293B */
    --color-slate-900: 15 23 42; /* #0F172A */
    --color-slate-950: 2 6 23; /* #020617 */

    --color-blue-50: 239 246 255; /* #EFF6FF */
    --color-blue-100: 219 234 254; /* #DBEAFE */
    --color-blue-200: 191 219 254; /* #BFDDFE */
    --color-blue-300: 147 197 253; /* #93CFFD */
    --color-blue-400: 96 165 250; /* #60A5FA */
    --color-blue-500: 59 130 246; /* #3B82F6 */
    --color-blue-600: 37 99 235; /* #2563EB */
    --color-blue-700: 29 78 216; /* #1D4ED8 */
    --color-blue-800: 30 64 175; /* #1E40AF */
    --color-blue-900: 30 58 138; /* #1E3A8A */
    --color-blue-950: 15 23 60; /* #0F153C */

    --color-emerald-50: 236 253 245; /* #ECFDF5 */
    --color-emerald-100: 209 250 229; /* #D1FAE9 */
    --color-emerald-200: 167 243 208; /* #A7F3D0 */
    --color-emerald-300: 110 231 183; /* #6EE7B7 */
    --color-emerald-400: 52 211 153; /* #34D399 */
    --color-emerald-500: 16 185 129; /* #10B981 */
    --color-emerald-600: 5 150 105; /* #059669 */
    --color-emerald-700: 4 120 87; /* #047857 */
    --color-emerald-800: 6 95 70; /* #065F46 */
    --color-emerald-900: 6 78 59; /* #064E3B */
    --color-emerald-950: 1 31 24; /* #011F18 */

    --color-red-50: 254 242 242; /* #FEF2F2 */
    --color-red-100: 254 226 226; /* #FEE2E2 */
    --color-red-200: 254 202 202; /* #FECACA */
    --color-red-300: 252 165 165; /* #FCA5A5 */
    --color-red-400: 248 113 113; /* #F87171 */
    --color-red-500: 239 68 68; /* #EF4444 */
    --color-red-600: 220 38 38; /* #DC2626 */
    --color-red-700: 185 28 28; /* #B91C1C */
    --color-red-800: 153 27 27; /* #991B1B */
    --color-red-900: 127 29 29; /* #7F1D1D */
    --color-red-950: 69 17 17; /* #451111 */

    --color-amber-50: 255 251 235; /* #FFFBEB */
    --color-amber-100: 254 243 199; /* #FEF3C7 */
    --color-amber-200: 253 230 138; /* #FDE68A */
    --color-amber-300: 252 211 77; /* #FCD34D */
    --color-amber-400: 251 191 36; /* #FBBF24 */
    --color-amber-500: 245 158 11; /* #F59E0B */
    --color-amber-600: 217 119 6; /* #D97706 */
    --color-amber-700: 180 83 9; /* #B45309 */
    --color-amber-800: 146 64 14; /* #922C0E */
    --color-amber-900: 120 53 15; /* #78350F */
    --color-amber-950: 69 20 6; /* #451004 */

    /* design tokens from figma variables */
    --base-bg-white: var(--color-white);
    --base-bg-light: var(--color-slate-50);
    --base-bg-default: var(--color-slate-100);
    --base-bg-medium: var(--color-slate-200);
    --base-bg-dark: var(--color-slate-300);
    --base-bg-invert: var(--color-black);

    --base-text-high: var(--color-slate-900);
    --base-text-medium: var(--color-slate-500);
    --base-text-placeholder: var(--color-slate-400);
    --base-text-invert: var(--color-white);

    --base-primary-extra-light: var(--color-primary-50);
    --base-primary-light: var(--color-primary-300);
    --base-primary-default: var(--color-primary-500);
    --base-primary-medium: var(--color-primary-600);
    --base-primary-dark: var(--color-primary-700);

    --base-secondary-extra-light: var(--color-secondary-50);
    --base-secondary-light: var(--color-secondary-300);
    --base-secondary-default: var(--color-secondary-500);
    --base-secondary-medium: var(--color-secondary-600);
    --base-secondary-dark: var(--color-secondary-700);

    --base-outline-default: var(--color-slate-200);
    --base-outline-medium: var(--color-slate-300);
    --base-outline-dark: var(--color-slate-900);

    --system-info-default: var(--color-blue-600);
    --system-info-extra-light: var(--color-blue-50);
    --system-info-light: var(--color-blue-200);
    --system-info-medium: var(--color-blue-700);
    --system-info-dark: var(--color-blue-800);

    --system-success-default: var(--color-emerald-600);
    --system-success-extra-light: var(--color-emerald-50);
    --system-success-light: var(--color-emerald-200);
    --system-success-medium: var(--color-emerald-700);
    --system-success-dark: var(--color-emerald-800);

    --system-danger-default: var(--color-red-600);
    --system-danger-extra-light: var(--color-red-50);
    --system-danger-light: var(--color-red-200);
    --system-danger-medium: var(--color-red-700);
    --system-danger-dark: var(--color-red-800);

    --system-warning-default: var(--color-amber-600);
    --system-warning-extra-light: var(--color-amber-50);
    --system-warning-light: var(--color-amber-200);
    --system-warning-medium: var(--color-amber-700);
    --system-warning-dark: var(--color-amber-800);

    /*
     * we put design tokens into shadcn-ui tokens
     * to make copy-paste components work out of the box 
     */
    /* light theme */
    --background: var(--base-bg-white);
    --foreground: var(--base-text-high);
    --card: var(--base-bg-white);
    --card-foreground: var(--base-text-high);
    --popover: var(--base-bg-white);
    --popover-foreground: var(--base-text-high);
    --primary: var(--base-primary-default);
    --primary-foreground: var(--base-text-invert);
    --secondary: var(--base-bg-default);
    --secondary-foreground: var(--base-text-high);
    --muted: var(--base-secondary-extra-light);
    --muted-foreground: var(--base-text-medium);
    --accent: var(--base-bg-default);
    --accent-foreground: var(--base-text-high);
    --destructive: var(--system-danger-medium);
    --destructive-foreground: var(--base-text-invert);
    --border: var(--base-outline-default);
    --input: var(--base-outline-default);
    --ring: var(--base-text-high);
  }

  /* dark theme (not needed) */
  /* .dark:root {
    --background: var(--base-bg-invert);
    --foreground: var(--base-text-invert);
    --card: var(--base-bg-invert);
    --card-foreground: var(--base-text-invert);
    --popover: var(--base-bg-invert);
    --popover-foreground: var(--base-text-invert);
    --primary: var(--base-primary-default);
    --primary-foreground: var(--base-text-invert);
    --secondary: var(--base-secondary-dark);
    --secondary-foreground: var(--base-text-invert);
    --muted: var(--base-secondary-dark);
    --muted-foreground: var(--base-text-medium);
    --accent: var(--base-secondary-dark);
    --accent-foreground: var(--base-text-invert);
    --destructive: var(--system-danger-medium);
    --destructive-foreground: var(--base-text-invert);
    --border: var(--base-outline-dark);
    --input: var(--base-outline-dark);
    --ring: var(--base-text-high);
  } */
}
