DEVELOPER_APP_IDENTIFIER=

# Android vars
# ANDROID_SIGNING_KEY=
FIREBASE_SERVICE_ACCOUNT_JSON=
FIREBASE_APP_ID=

# iOS vars
FASTLANE_USER=
FASTLANE_PASSWORD=
FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD=
# https://stackoverflow.com/questions/58097010/fastlane-doesnt-work-for-apple-id-with-two-factor-authentication-on-continuous
FASTLANE_SESSION=
MATCH_PASSWORD=
# https://docs.fastlane.tools/actions/match/
MATCH_GIT_BASIC_AUTHORIZATION=
PROVISIONING_PROFILE_SPECIFIER=

APP_STORE_CONNECT_TEAM_ID=
DEVELOPER_PORTAL_TEAM_ID=
# DEVELOPER_APP_ID=

# APP Store Connect API Key https://appstoreconnect.apple.com/access/api
# APP_STORE_CONNECT_API_KEY_KEY_ID=
# APP_STORE_CONNECT_API_KEY_ISSUER_ID=
# APP_STORE_CONNECT_API_KEY_KEY=

OIDC_MANAGEMENT_URL=
OIDC_APPLICATION_ID=
OIDC_PROJECT_ID=
OIDC_ADMIN_TOKEN=