version: "3"

services:
  backoffice-db:
    image: postgres:15
    container_name: backoffice-db
    environment:
      POSTGRES_USER: pple
      POSTGRES_PASSWORD: pple
      POSTGRES_DB: pple
    ports:
      - "9000:5432"

  redis:
    image: redis:7
    container_name: redis
    volumes:
      - redis-data:/data
    ports:
      - "6379:6379"

volumes:
  redis-data:
