# Unignore fastlane config files
!android/
!ios/

# except for sensitive files
key.json
# TODO: we might need this in android/app folder im not sure
google-services.json
GoogleService-Info.plist
.env.default
