@import '@pple-today/web-ui/global.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped:wght@100..900&display=swap');

@font-face {
  font-family: Anakotmai;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../public/fonts/Anakotmai-Light.otf') format('opentype');
}

@font-face {
  font-family: Anakotmai;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../public/fonts/Anakotmai-Medium.otf') format('opentype');
}

@font-face {
  font-family: Anakotmai;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../public/fonts/Anakotmai-Bold.otf') format('opentype');
}

@layer base {
  :root {
    --font-sans: 'Anakotmai', 'ui-san-serif';
    --font-serif: 'Noto Sans Thai Looped', 'serif';
  }
}
