name: Mobile Beta Deployment

on:
  workflow_call:
    inputs:
      android:
        type: string
        description: 'Build Android app'
      ios:
        type: string
        description: 'Build iOS app'
      groups:
        type: string
        description: 'Distribute to (comma-separated)'
      environment:
        type: string
        description: 'Deployment environment'

jobs:
  build-android:
    name: Build Android
    runs-on: macos-latest
    environment: ${{ inputs.environment }}
    if: ${{ inputs.android == 'true' }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4
        with:
          version: 9.9.0

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 22.14.0
          cache: pnpm

      - name: Setup Environment File
        working-directory: apps-client/mobile
        env:
          ${{ insert }}: ${{ secrets }}
          APP_ENVIRONMENT: ${{ inputs.environment }}
          EXPO_PUBLIC_APP_ENVIRONMENT: ${{ inputs.environment }}
          DISTRIBUTE_GROUPS: ${{ inputs.groups }}
        run: |
          bash ./scripts/setup-credentials.sh
          env > .env

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'

      # - name: Validate Gradle wrapper
      #   uses: gradle/wrapper-validation-action@v1

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Prebuild Android
        working-directory: apps-client/mobile
        run: npx expo prebuild --platform android

      - name: Install Fastlane
        working-directory: apps-client/mobile
        shell: bash
        run: |
          bash ./fastlane/setup.sh
          cd android && bundle install

      - name: Build Android App via fastlane
        working-directory: apps-client/mobile/android
        run: fastlane beta
        env:
          CI: true
          CD: true

  build-ios:
    name: Build iOS
    # TODO: update to macos-latest when this is fixed https://github.com/fastlane/fastlane/issues/29659
    runs-on: macos-14
    environment: ${{ inputs.environment }}
    if: ${{ inputs.ios == 'true' }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4
        with:
          version: 9.9.0

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 22.14.0
          cache: pnpm

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Setup Environment File
        working-directory: apps-client/mobile
        env:
          ${{ insert }}: ${{ secrets }}
          APP_ENVIRONMENT: ${{ inputs.environment }}
          EXPO_PUBLIC_APP_ENVIRONMENT: ${{ inputs.environment }}
          DISTRIBUTE_GROUPS: ${{ inputs.groups }}
        run: |
          bash ./scripts/setup-credentials.sh
          env > .env

      - name: Prebuild iOS
        working-directory: apps-client/mobile
        run: npx expo prebuild --platform ios

      - name: Set up Xcode version
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '16.2'

      - name: Install pods
        working-directory: apps-client/mobile
        run: cd ios && pod install --repo-update

      - name: Install Fastlane
        working-directory: apps-client/mobile
        shell: bash
        run: |
          bash ./fastlane/setup.sh
          cd ios && bundle install

      - name: Build iOS App via fastlane
        working-directory: apps-client/mobile/ios
        run: fastlane beta
        env:
          CI: true
          CD: true

      # - name: Log Build Output
      #   run: cat /Users/runner/Library/Logs/gym/PPLEToday-PPLEToday.log
      #   if: failure()
