name: Publish Production Image

on:
  workflow_dispatch:
    inputs:
      api:
        type: boolean
        description: 'Deploy API'
        default: false
      backoffice:
        type: boolean
        description: 'Deploy Backoffice'
        default: false
      ballot-crypto:
        type: boolean
        description: 'Deploy Ballot Crypto Service'
        default: false
      android:
        type: boolean
        description: 'Build Android app'
      ios:
        type: boolean
        description: 'Build iOS app'
      mini-app:
        type: boolean
        description: 'Publish Mini App Package'

jobs:
  get-affected-apps:
    name: Get affected applications
    runs-on: ubuntu-latest
    outputs:
      packages: ${{ steps.affected-apps.outputs.packages }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # fetch all history for tags
          persist-credentials: false # avoid checking out the repository again

      - name: Get affected web application names
        id: affected-apps
        run: |
          set -e

          if [[ "${{ github.ref }}" == "refs/tags"* ]]; then
            echo "Triggered on tag: ${GITHUB_REF}"
          else 
            echo "Error: This workflow can only be triggered on tags."
            exit 1
          fi

          function constructMetadata {
            NAME=$1
            PACKAGE_PATH=$2
            DOCKER_COMPOSE_PATH=$3
            REF=${{ github.ref }}
            IMAGE_TAG=production-$(cat $PACKAGE_PATH/package.json | jq -r '.version')

            ITEM="{
              \"name\": \"$NAME\",
              \"ref\": \"$REF\",
              \"imageTag\": \"$IMAGE_TAG\",
              \"path\": \"$PACKAGE_PATH\",
              \"version\": \"$IMAGE_TAG\",
              \"dockerComposePath\": \"$DOCKER_COMPOSE_PATH\"
            }"
            
            echo $ITEM
          }

          PACKAGES="[]"

          if [[ ${{ inputs.api }} == true ]]; then
            METADATA=$(constructMetadata "pple-api" "apps-api/backoffice" "docker-compose.api.yaml")
            PACKAGES=$(echo $PACKAGES | jq -c ". += [${METADATA}]")
          fi

          if [[ ${{ inputs.ballot-crypto }} == true ]]; then
              METADATA=$(constructMetadata "pple-ballot-crypto" "apps-api/ballot-crypto" "docker-compose.api.yaml")
              PACKAGES=$(echo $PACKAGES | jq -c ". += [${METADATA}]")
          fi

          echo $PACKAGES | jq

          echo "packages=$PACKAGES" >> $GITHUB_OUTPUT
          echo "packages=$PACKAGES"

  publish-docker-prod:
    name: Publish Production Images
    runs-on: ubuntu-latest
    needs: get-affected-apps
    environment: production
    if: ${{ needs.get-affected-apps.outputs.packages != '[]' }}
    strategy:
      matrix:
        packages: ${{ fromJson(needs.get-affected-apps.outputs.packages) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # fetch all history for tags
          persist-credentials: false # avoid checking out the repository again

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Google Artifact Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.GAR_REGISTRY }}
          username: ${{ secrets.GAR_USERNAME }}
          password: ${{ secrets.GAR_SERVICE_ACCOUNT }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ${{ matrix.packages.path }}/Dockerfile
          platforms: linux/amd64
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            "VERSION=${{ matrix.packages.version }}"
          tags: ${{ secrets.GAR_REGISTRY }}/${{ secrets.GAR_REGISTRY_PREFIX }}/${{ matrix.packages.name }}:${{ matrix.packages.imageTag }}

  publish-backoffice:
    name: Publish Backoffice Static Files
    runs-on: ubuntu-latest
    if: ${{ inputs.backoffice == true }}
    environment: production
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # fetch all history for tags
          persist-credentials: false # avoid checking out the repository again

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 22.14.0

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9.9.0

      - name: Setup node with cache
        uses: actions/setup-node@v3
        with:
          node-version: 22.14.0
          cache: pnpm

      - name: Install wrangler CLI
        run: pnpm add -g wrangler@3.90.0

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build Backoffice
        run: |
          echo ${{ secrets.WEB_CLIENT_ENV }} > apps-client/backoffice/.env
          pnpm build --filter=@client/backoffice...

      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy ./apps-client/backoffice/build --project-name=${{ secrets.CLOUDFLARE_PAGES_PROJECT_NAME }} --branch=${{ secrets.CLOUDFLARE_PAGES_PRODUCTION_BRANCH_NAME }}

  publish-mini-app-package:
    name: Publish Mini App Package
    runs-on: ubuntu-latest
    if: ${{ inputs.mini-app == true }}
    permissions:
      actions: read
      checks: read
      contents: write
      deployments: read
      issues: write
      discussions: read
      packages: write
      pull-requests: write
      repository-projects: write
      security-events: read
      statuses: write
    environment: production
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # fetch all history for tags
          persist-credentials: false # avoid checking out the repository again

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 22.14.0

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9.9.0

      - name: Setup node with cache
        uses: actions/setup-node@v3
        with:
          node-version: 22.14.0
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Publish Mini App Package
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          pnpm build --filter=@pplethai/pple-today-mini-app...
          cd packages/mini-app
          npm publish --access public

  build-android:
    name: Build Android
    runs-on: macos-latest
    environment: production
    if: ${{ inputs.android == true }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4
        with:
          version: 9.9.0

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 22.14.0
          cache: pnpm

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'

      # - name: Validate Gradle wrapper
      #   uses: gradle/wrapper-validation-action@v1

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Setup Environment File
        working-directory: apps-client/mobile
        env:
          ${{ insert }}: ${{ secrets }}
          APP_ENVIRONMENT: production
          EXPO_PUBLIC_APP_ENVIRONMENT: production
        run: |
          bash ./scripts/setup-credentials.sh
          env > .env

      - name: Prebuild Android
        working-directory: apps-client/mobile
        run: npx expo prebuild --platform android

      - name: Install Fastlane
        working-directory: apps-client/mobile
        shell: bash
        env:
          ${{ insert }}: ${{ secrets }}
          CI: true
        run: |
          bash ./fastlane/setup.sh
          cd android && bundle install

      - name: Build Android App via fastlane
        working-directory: apps-client/mobile/android
        run: fastlane production
        env:
          CI: true
          CD: true

  build-ios:
    name: Build iOS
    runs-on: macos-15
    environment: production
    if: ${{ inputs.ios == true }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4
        with:
          version: 9.9.0

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 22.14.0
          cache: pnpm

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Setup Environment File
        working-directory: apps-client/mobile
        env:
          ${{ insert }}: ${{ secrets }}
          APP_ENVIRONMENT: production
          EXPO_PUBLIC_APP_ENVIRONMENT: production
        run: |
          bash ./scripts/setup-credentials.sh
          env > .env

      - name: Prebuild iOS
        working-directory: apps-client/mobile
        run: npx expo prebuild --platform ios

      - name: Select Xcode version
        run: sudo xcode-select -s '/Applications/Xcode_16.4.app/Contents/Developer'

      - name: Set up Xcode version
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '16.4'

      - name: Install pods
        working-directory: apps-client/mobile
        run: cd ios && pod install --repo-update && cd ..

      - name: Install Fastlane
        working-directory: apps-client/mobile
        shell: bash
        env:
          ${{ insert }}: ${{ secrets }}
          CI: true
        run: |
          bash ./fastlane/setup.sh
          cd ios && bundle install

      - name: Build iOS App via fastlane
        working-directory: apps-client/mobile/ios
        run: fastlane production
        env:
          CI: true
          CD: true
