name: Publish Production Image

on:
  workflow_dispatch:
    inputs:
      api:
        type: boolean
        description: 'Deploy API'
        default: false
      backoffice:
        type: boolean
        description: 'Deploy Backoffice'
        default: false
      ballot-crypto:
        type: boolean
        description: 'Deploy Ballot Crypto Service'
        default: false
      android:
        type: boolean
        description: 'Build Android app'
      ios:
        type: boolean
        description: 'Build iOS app'

jobs:
  get-affected-apps:
    name: Get affected applications
    runs-on: ubuntu-latest
    outputs:
      packages: ${{ steps.affected-apps.outputs.packages }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # fetch all history for tags
          persist-credentials: false # avoid checking out the repository again

      - name: Get affected web application names
        id: affected-apps
        run: |
          set -e

          if [[ "${{ github.ref }}" == "refs/tags"* ]]; then
            echo "Triggered on tag: ${GITHUB_REF}"
          else 
            echo "Error: This workflow can only be triggered on tags."
            exit 1
          fi

          function constructMetadata {
            NAME=$1
            PACKAGE_PATH=$2
            DOCKER_COMPOSE_PATH=$3
            REF=${{ github.ref }}
            IMAGE_TAG=production-$(cat $PACKAGE_PATH/package.json | jq -r '.version')

            ITEM="{
              \"name\": \"$NAME\",
              \"ref\": \"$REF\",
              \"imageTag\": \"$IMAGE_TAG\",
              \"path\": \"$PACKAGE_PATH\",
              \"version\": \"$IMAGE_TAG\",
              \"dockerComposePath\": \"$DOCKER_COMPOSE_PATH\"
            }"
            
            echo $ITEM
          }

          PACKAGES="[]"

          if [[ ${{ inputs.api }} == true ]]; then
            METADATA=$(constructMetadata "pple-api" "apps-api/backoffice" "docker-compose.api.yaml")
            PACKAGES=$(echo $PACKAGES | jq -c ". += [${METADATA}]")
          fi

          if [[ ${{ inputs.ballot-crypto }} == true ]]; then
              METADATA=$(constructMetadata "pple-ballot-crypto" "apps-api/ballot-crypto" "docker-compose.api.yaml")
              PACKAGES=$(echo $PACKAGES | jq -c ". += [${METADATA}]")
          fi

          if [[ ${{ inputs.backoffice }} == true ]]; then
              METADATA=$(constructMetadata "pple-backoffice" "apps-client/backoffice" "docker-compose.backoffice.yaml")
              PACKAGES=$(echo $PACKAGES | jq -c ". += [${METADATA}]")
          fi

          echo $PACKAGES | jq

          echo "packages=$PACKAGES" >> $GITHUB_OUTPUT
          echo "packages=$PACKAGES"

  publish-prod:
    name: Publish Production Images
    runs-on: ubuntu-latest
    needs: get-affected-apps
    environment: production
    strategy:
      matrix:
        package: ${{ fromJson(needs.get-affected-apps.outputs.packages) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # fetch all history for tags
          persist-credentials: false # avoid checking out the repository again

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Google Artifact Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.GAR_REGISTRY }}
          username: ${{ secrets.GAR_USERNAME }}
          password: ${{ secrets.GAR_SERVICE_ACCOUNT }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ${{ matrix.packages.path }}/Dockerfile
          platforms: linux/amd64
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            "VERSION=${{ matrix.packages.version }}"
            "LOCAL_ENV=${{ secrets.WEB_CLIENT_ENV_PRODUCTION }}"
          tags: ${{ secrets.GAR_REGISTRY }}/${{ secrets.GAR_REGISTRY_PREFIX }}/${{ matrix.package.name }}:${{ matrix.package.imageTag }}

  build-android:
    name: Build Android
    runs-on: macos-latest
    environment: production
    if: ${{ inputs.android == 'true' }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4
        with:
          version: 9.9.0

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 22.14.0
          cache: pnpm

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'

      # - name: Validate Gradle wrapper
      #   uses: gradle/wrapper-validation-action@v1

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Setup Prebuild Environment
        working-directory: apps-client/mobile
        shell: bash
        run: |
          mkdir -p ./credentials
          echo "FACEBOOK_APP_ID=${{ secrets.FACEBOOK_APP_ID }}" >> .env
          echo "FACEBOOK_CLIENT_TOKEN=${{ secrets.FACEBOOK_CLIENT_TOKEN }}" >> .env
          echo "FACEBOOK_DISPLAY_NAME=${{ secrets.FACEBOOK_DISPLAY_NAME }}" >> .env
          echo "DEVELOPER_APP_IDENTIFIER=${{ secrets.DEVELOPER_APP_IDENTIFIER }}" >> .env
          echo "${{ secrets.FIREBASE_IOS_SERVICE_FILE }}" | base64 -d > ./credentials/GoogleService-Info.plist
          echo "${{ secrets.FIREBASE_ANDROID_SERVICE_FILE }}" | base64 -d > ./credentials/google-services.json

      - name: Prebuild Android
        working-directory: apps-client/mobile
        run: npx expo prebuild --platform android

      - name: Install Fastlane
        working-directory: apps-client/mobile
        shell: bash
        run: |
          echo "APP_ENVIRONMENT=production" >> .env
          echo "EXPO_PUBLIC_APP_ENVIRONMENT=production" >> .env
          echo "EXPO_PUBLIC_OIDC_BASE_URL=${{ secrets.EXPO_PUBLIC_OIDC_BASE_URL }}" >> .env
          echo "EXPO_PUBLIC_OIDC_CLIENT_ID=${{ secrets.EXPO_PUBLIC_OIDC_CLIENT_ID }}" >> .env
          echo "EXPO_PUBLIC_BACKEND_BASE_URL=${{ secrets.EXPO_PUBLIC_BACKEND_BASE_URL }}" >> .env
          echo "DEVELOPER_APP_IDENTIFIER=${{ secrets.DEVELOPER_APP_IDENTIFIER }}" >> .env
          echo "FIREBASE_ANDROID_SERVICE_FILE=${{ secrets.FIREBASE_ANDROID_SERVICE_FILE }}" >> .env
          echo "FIREBASE_APP_ID=${{ secrets.FIREBASE_APP_ID }}" >> .env
          echo "DISTRIBUTE_GROUPS=${{ inputs.groups }}" >> .env
          bash ./fastlane/setup.sh
          cd android && bundle install
        env:
          CI: true

      - name: Build Android App via fastlane
        working-directory: apps-client/mobile/android
        run: fastlane production
        env:
          CI: true
          CD: true

  build-ios:
    name: Build iOS
    # TODO: update to macos-latest when this is fixed https://github.com/fastlane/fastlane/issues/29659
    runs-on: macos-14
    environment: 'production'
    if: ${{ inputs.ios == 'true' }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4
        with:
          version: 9.9.0

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 22.14.0
          cache: pnpm

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Setup Prebuild Environment
        working-directory: apps-client/mobile
        shell: bash
        run: |
          mkdir -p ./credentials
          echo "FACEBOOK_APP_ID=${{ secrets.FACEBOOK_APP_ID }}" >> .env
          echo "FACEBOOK_CLIENT_TOKEN=${{ secrets.FACEBOOK_CLIENT_TOKEN }}" >> .env
          echo "FACEBOOK_DISPLAY_NAME=${{ secrets.FACEBOOK_DISPLAY_NAME }}" >> .env
          echo "${{ secrets.FIREBASE_IOS_SERVICE_FILE }}" | base64 -d > ./credentials/GoogleService-Info.plist
          echo "${{ secrets.FIREBASE_ANDROID_SERVICE_FILE }}" | base64 -d > ./credentials/google-services.json

      - name: Prebuild iOS
        working-directory: apps-client/mobile
        run: npx expo prebuild --platform ios

      - name: Set up Xcode version
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '16.2'

      - name: Install pods
        working-directory: apps-client/mobile
        run: cd ios && pod install --repo-update && cd ..

      # Note that you might run into fastlane issue of 2 Factor Authentication
      # run `fastlane spaceauth -u <your_apple_username>`
      # copy the output and then single quote it in `FASTLANE_SESSION` variable like this '---\n ...'
      # Read more at README.md in apps-client/mobile
      - name: Set up environment
        working-directory: apps-client/mobile
        shell: bash
        run: |
          echo "APP_ENVIRONMENT=production" >> .env
          echo "EXPO_PUBLIC_APP_ENVIRONMENT=production" >> .env
          echo "EXPO_PUBLIC_OIDC_BASE_URL=${{ secrets.EXPO_PUBLIC_OIDC_BASE_URL }}" >> .env
          echo "EXPO_PUBLIC_OIDC_CLIENT_ID=${{ secrets.EXPO_PUBLIC_OIDC_CLIENT_ID }}" >> .env
          echo "EXPO_PUBLIC_BACKEND_BASE_URL=${{ secrets.EXPO_PUBLIC_BACKEND_BASE_URL }}" >> .env
          echo "DEVELOPER_APP_IDENTIFIER=${{ secrets.DEVELOPER_APP_IDENTIFIER }}" >> .env
          echo "FASTLANE_USER=${{ secrets.FASTLANE_USER }}" >> .env
          echo "APP_STORE_CONNECT_API_KEY_ID=${{ secrets.APP_STORE_CONNECT_API_KEY_ID }}" >> .env
          echo "APP_STORE_CONNECT_API_KEY_ISSUER_ID=${{ secrets.APP_STORE_CONNECT_API_KEY_ISSUER_ID }}" >> .env
          echo "APP_STORE_CONNECT_API_KEY_CONTENT=${{ secrets.APP_STORE_CONNECT_API_KEY_CONTENT }}" >> .env
          echo "MATCH_PASSWORD=${{ secrets.MATCH_PASSWORD }}" >> .env
          echo "MATCH_GIT_BASIC_AUTHORIZATION=${{ secrets.MATCH_GIT_BASIC_AUTHORIZATION }}" >> .env
          echo "PROVISIONING_PROFILE_SPECIFIER=${{ secrets.PROVISIONING_PROFILE_SPECIFIER }}" >> .env
          echo "APP_STORE_CONNECT_TEAM_ID=${{ secrets.APP_STORE_CONNECT_TEAM_ID }}" >> .env
          echo "DEVELOPER_PORTAL_TEAM_ID=${{ secrets.DEVELOPER_PORTAL_TEAM_ID }}" >> .env
          echo "DISTRIBUTE_GROUPS=${{ inputs.groups }}" >> .env

      - name: Install Fastlane
        working-directory: apps-client/mobile
        shell: bash
        run: |
          bash ./fastlane/setup.sh
          cd ios && bundle install

      - name: Build iOS App via fastlane
        working-directory: apps-client/mobile/ios
        run: fastlane production
        env:
          CI: true
          CD: true
